{% extends "base_site.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

  {% include "site_template/navigation.html" %}

  {% include "site_template/top-stats.html" %}

  <div class="container-fluid mt--7">
    <p>
      <a class="btn btn-light" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">WSI</a>
      <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Heatmap</button>
      <button class="btn btn-dark" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Show All</button>
    </p>
    <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
              <img class="card-img-bottom" src="/static/assets/img/wsi/thumbnail_lung-18s20628-10_2020-03-16 09_10_43.scn.png" alt="Card image cap">
              </div>
          </div>
        </div>
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
              <img class="card-img-bottom" src="/static/assets/img/wsi/heatmap_lung-18s20628-10_2020-03-16 09_10_43.scn_prediction_heatmap.png" alt="Card image cap">
              </div>
          </div>
        </div>
    </div>
    <p>
      <a class="btn btn-light" data-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="multiCollapseExample3">WSI</a>
      <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#multiCollapseExample5" aria-expanded="false" aria-controls="multiCollapseExample4">Heatmap</button>
      <button class="btn btn-dark" type="button" data-toggle="collapse" data-target=".multi-collapse2" aria-expanded="false" aria-controls="multiCollapseExample4 multiCollapseExample4">Show All</button>
    </p>
    <div class="row">
        <div class="col">
          <div class="collapse multi-collapse2" id="multiCollapseExample3">
            <div class="card card-body">
              <img class="card-img-bottom" src="/static/assets/img/wsi/thumbnail_lung-18S27040 -4_2020-03-16 12_17_18.scn.png" alt="Card image cap">
              </div>
          </div>
        </div>
        <div class="col">
          <div class="collapse multi-collapse2" id="multiCollapseExample4">
            <div class="card card-body">
              <img class="card-img-bottom" src="/static/assets/img/wsi/heatmap_lung-18S27040 -4_2020-03-16 12_17_18.scn_prediction_heatmap.png" alt="Card image cap">
              </div>
          </div>
        </div>
    </div>
    <p>
      <a class="btn btn-light" data-toggle="collapse" href="#multiCollapseExample5" role="button" aria-expanded="false" aria-controls="multiCollapseExample5">WSI</a>
      <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#multiCollapseExample6" aria-expanded="false" aria-controls="multiCollapseExample6">Heatmap</button>
      <button class="btn btn-dark" type="button" data-toggle="collapse" data-target=".multi-collapse3" aria-expanded="false" aria-controls="multiCollapseExample6 multiCollapseExample7">Show All</button>
    </p>
    <div class="row">
        <div class="col">
          <div class="collapse multi-collapse3" id="multiCollapseExample5">
            <div class="card card-body">
              <img class="card-img-bottom" src="/static/assets/img/wsi/thumbnail_LUNG-LN-18S3508 -III_2020-03-17 11_34_3418S239 -I_2020-03-17 11_30_35.scn.png" alt="Card image cap">
              </div>
          </div>
        </div>
        <div class="col">
          <div class="collapse multi-collapse3" id="multiCollapseExample6">
            <div class="card card-body">
              <img class="card-img-bottom" src="/static/assets/img/wsi/heatmap_LUNG-LN-18S3508 -III_2020-03-17 11_34_3418S239 -I_2020-03-17 11_30_35.scn_prediction_heatmap.png" alt="Card image cap">
              </div>
          </div>
        </div>
    </div>
   

    






    </div>





    {% include "site_template/footer.html" %}

  </div>

{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}
